@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{background:#fff;font-family:"Roboto",Arial,sans-serif;color:#000;margin:0;padding:0;font-size:18px;}

a{color:#000;}

header{display:block;width:100%;text-align:center;position:relative;overflow:hidden;}
#gunnar-foundation{margin-top:80px;}
#header-inner{padding:130px 0px;margin:0 auto;max-width:800px;position:relative;z-index:200;}
#particles{position:absolute;left:0;top:0;width:100%;height:100%;z-index:100;}

#console{display:block;position:fixed;left:0;top:0;z-index:300;width:100%;display:none;box-sizing:border-box;}
#console input{width:100%;display:block;background:rgba(0,0,0,0.8);color:#fff;padding:10px;outline:none;font-size:40px;border:none;box-sizing:border-box;text-align:center;}

h1{font-size:80px;margin:0;font-weight:bold;}
h2{margin:20px 0 0 0;font-size:35px;font-weight:normal;}
h3{background:#000;color:#fff;padding:10px;text-align:center;font-size:35px;margin:0;}
h4{font-size:25px;margin:30px 0;}

.wrapper{margin:0 auto;padding:80px 40px;}
.wrapper.grey{background:#f1f1f1;}
.wrapper-inner{max-width:800px;margin:0 auto;}
.wrapper .row .img{width:80px;height:50px;text-align:center;}
.wrapper .row .img img{height:100%;}
.wrapper row:first-child h4{margin-top:0;}
div.element.left{text-align:left;}

.list, #certificates{margin-bottom:40px;}
.list div.element, #certificates div.element{border:0;padding-bottom:0;text-align:left;font-size:18px;}
.list div.element:last-child, #certificates div.element:last-child{padding-bottom:20px;}
.list .row{margin:20px 0;}
#certificates table img{height:50px;}

div.social{padding:0 10px;font-size:40px;}
div.social a{color:#000;}

div.element.invert{background:#fff;color:#000;}

#overlay{display:block;position:fixed;left:0;top:0;width:100%;height:100%;box-sizing:border-box;background:rgba(0,0,0,0.8);z-index:500;display:none;}
#frame-close{position:absolute;top:-15px;right:-15px;background:#ff0000;color:#fff;font-size:25px;padding:5px 10px;border-radius:50%;z-index:550;cursor:pointer;}
#frame-open{position:absolute;top:-15px;right:40px;background:#fff;color:#000;font-size:25px;padding:5px 10px;border-radius:4px;z-index:550;cursor:pointer;text-decoration:none;}
#frame{background:#000;width:90%;height:90%;position:absolute;left:5%;top:5%;border:2px solid #fff;border-radius:2px;}
#fframe{position:absolute;left:0;top:0;width:100%;height:100%;border:none;}

footer{background:#000;color:#fff;padding:20px;text-align:center;font-size:12px;}

.fixed-bottom-right{position:fixed;right:40px;bottom:40px;}

@media screen and (max-width: 700px){
  #header-inner{padding:50px;}
  .wrapper{margin:0 auto;}
  .wrapper.grey{padding:80px 60px;}
  .wrapper.grey div.col:first-child img{margin-bottom:40px;}
  h2{font-size:20px;}
}
